@import url('https://fonts.googleapis.com/css2?family=Jost:wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    background: url(./rugby.jpg) no-repeat 
    center center/cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    padding: 0 2rem;
    margin: auto;
}

.navbar-logo {
    font-size: 2.2rem;
    font-weight: 625;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 2.3rem;
}

.navbar-container .navbar-menu li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 575;
    transition: all 0.3s ease;
    white-space: nowrap;
    border-radius: 20px;
    padding: 3px 20px;
}
.navbar-container .navbar-menu li a:hover {
    background: rgba(97, 176, 52, 0.5);
    color: #ffffff;
    border: solid 4px #fff;
}

.about {
    font-size: 1.4rem;
    color: #fff;
    max-width: 1100px;
    padding: 0 1rem;
    line-height: 1.6;
    margin-top: 30px;
    font-weight: 650;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font: italic 1.4rem 'Jost', sans-serif;
    align-items: center;
    text-align: center;
    border: solid 6px #fff;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
}

.Gilbert{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: underline;
}
.Access{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: underline;
}
.YourKart{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: underline;
}
.Clothing{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: underline;
}
.Sketchers{
    font-size: 5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: underline;
}

.navshop{
    display: flex;
    height : 90px;
    width: 100%;
    background-color: #fff;
    color: var(--main);
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

navshop h1 {
    font-size: 2.2rem;
    font-weight: 625;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cartbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uil.uil-search, .uil.uil-user , .uil.uil-shopping-cart {
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    margin-right: 20px;
}

.cartbox .quantity {
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}

.clothingitems {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    place-items:  center;
    margin-top: 30px;
    width: 100%;
    height: calc(100vh - 200px);
    gap: 4vh 0em;
}
.clothing {
    width: 100%;
    height: 480px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    position: center;
}
.clothing .imgbox {
    width: 100%;
    height: 320px;
    background-color: rgba(15, 86, 97, 1);
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textdata div button,.quantity-controls button {
    padding: 10px 20px;
    background-color: rgba(15, 86, 97, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font:  1.4rem 'Jost', sans-serif;
    font-weight: 590;
}
.textdata div button:hover,.quantity-controls button:hover {
    cursor: pointer;
    background-color: rgba(130, 190, 199, 0.8);
}
.textdata div .name {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0px;
    font-weight: 600;
}
.textdata div .price {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 0px;
    font-weight: 600;
}
.textdata div .stars {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 0px;
    font-weight: 600;
}
.cartcontainer {
    position: absolute;
    top: 0;
    right: 0vw;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #000;
}

.cartcontainer h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    margin: 2em 0;
}
.navvshop{
    display: flex;
    height : 90px;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    color: var(--main);
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

navvshop h1 {
    font-size: 2.2rem;
    font-weight: 625;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.carttbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uil.uil-search, .uil.uil-user , .uil.uil-shopping-cart {
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    margin-right: 20px;
}

.carttbox .quantity {
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}

.acces-items {
    display: grid;
    gap: 20px;
    place-items:  center;
    margin-top: 30px;
    width: 100%;
    height: calc(100vh - 200px);
    gap: 4vh 0em;
}
 
.cartcontainer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    max-width: 100%;
    height: 100vh;

    background: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;

    transition: right 0.3s ease;

    z-index: 1000;
}

body.active .cartcontainer {
    right: 0;
}
   
.bottomside {
    padding: 20px;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
}

.total {
    font-size: 1.3rem;
    font-weight: bold;
}

.close {
    background: rgba(15, 86, 97, 1);
    color: white;

    padding: 10px 20px;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    background: rgba(130, 190, 199, 0.8);
}
.cart-items {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.cart-item {
    display: flex;
    gap: 15px;

    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    background: #f5f5f5;
}

.item-details {
    flex: 1;
}

.item-details h4 {
    font-size: 1rem;
    margin-bottom: 8px;
}

.item-details p {
    font-weight: bold;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    width: 30px;
    height: 30px;

    border: none;
    background: rgba(15, 86, 97, 1);
    color: white;

    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px 16px;
}
.cartcontainer ul li .name,
.cartcontainer ul li .price {
    font-size: 1rem;
    font-weight: bold;
}
.quantity-controls span {
    padding: 0.5em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-kart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fcd6ab;
}
.container-kart form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 800px;

}

form .sumbit {
    padding: 10px 20px;
    background: rgb(172, 249, 178);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}
form .sumbit:hover {
    background: rgba(130, 190, 199, 0.8);
}
.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: rgb(193, 255, 193); 
    center center/cover;
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.6;
    margin-top: 30px;
    font-weight: 650;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}
.container-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: rgb(239, 250, 172)
    center center/cover;
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.6;
    margin-top: 30px;
    font-weight: 650;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}
.navbar-logo img {
    width: 140px;   /* adjust as needed */
    height: auto;   /* keeps proportions */
    background:rgba(255, 255, 255, 0.3)
}